 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>À propos</h2>
		     <hr class="star-light">
                </div>
            </div>
		<div class="caption">
                  <div class="caption-content">
		{% capture my_include %}{% include about_intro.md %}{% endcapture %}
		{{ my_include | markdownify }}
		       <div class="row" align="center">
                            <div class="form-group col-x12">
				 <a href="a-propos.html" class="btn btn-primary btn-lg">En savoir plus</a>
                             </div>
                       </div>
		  </div>
		</div>
        </div>
    </section>
