<section id="portfolio">
  <div class="container portfolio__container">
    <h2 class="portfolio__title">Le blog des EIG</h2>
    <div class="blog__grid">
      {% for post in site.posts %}
      <a href="{{ post.url }}">
        <div class="portfolio__post panel">
          <div class="portfolio__content">
            <div class="portfolio__challenge-owner">{{ post.author }}</div>
            <div class="portfolio__challenge-title">{{ post.modal-id }}</div>
          </div>
        </div>
      </a>
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  </div>
</section>
