 <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__column">
                <a href="http://www.etalab.gouv.fr/"><h3><img src="{{file.path}}/img/etalab.png" /></h3></a>
            </div>
            <div class="footer__column">
                <h3>{{ site.footer.social }}</h3>
                <ul class="list-inline">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer__column">
                <h3>{{ site.footer.link }}</h3>
    			<ul class="list-inline">
                    {% for link in site.link %}
    			    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
    			</ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>