    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header__text">
                <p>Développeur•euses, datascientists, designers, agilistes, passionné•e•s de numérique et d'action publique...</p>
                <p class="header__title">Devenez <span>Entrepreneur•neuse d’Intérêt Général</span> !</p>
                <p>En janvier 2018, vous pouvez intégrer l’État pour 10 mois et participer à sa transition numérique en relevant 10 défis.</p>
            </div>
            <a class="button" href="{{ site.url }}/a-propos.html">En savoir plus</a>
        </div>
    </header>
