   <!-- Navigation -->
    <nav class="navbar">
        <div class="container navbar__container">
            <h1 class="navbar__title">
                <a href="/"><img src="{{ file.path }}/img/eig.png" /></a></h1>

            <ul class="navbar__links">
                <li class="page-scroll">
                    <a href="https://framaforms.org/candidature-entrepreneurs-dinteret-general-promotion-2-1501592391">Déposer une candidature</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.url}}/assets/EIG-promotion2_reglement_programme_VFF.pdf">Règlement</a>
                </li>
                <li>
                    <a href="{{site.url}}/a-propos.html">À propos</a>
                </li>
            </ul>
        </div>
    </nav>
