   <!-- Navigation -->
    <nav class="navbar">
        <div class="container navbar__container">
            <h1 class="navbar__title"><a class="navbar__title" href="/"><img src="{{ file.path }}/img/profile.png" /></a></h1>

            <ul class="navbar__links">
                <li class="page-scroll">
                    <a href="https://framaforms.org/candidature-entrepreneurs-dinteret-general-2eme-promotion-1501592391">Candidater</a>
                </li>
                <li>
                    <a href="{{site.url}}/a-propos.html">A propos</a>
                </li>
            </ul>
        </div>
    </nav>
