<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include nav.html %}
    {% include header.html %}
	<section id="about">
        <div class="container">
            <h2>Conditions Générales d'Utilisation</h2>
            <div class="panel">
                {% capture my_include %}{% include cgu_note.md %}{% endcapture %}
                {{ my_include | markdownify }}
            </div>
        </div>
    </section>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>

