<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include portfolio_grid.html %}
    <section id="contact">
        <div class="container">
            <h2>Intéressé•e par un ou plusieurs défis ?</h2>
            <a class="button" target="_blank" href="https://framaforms.org/candidature-entrepreneurs-dinteret-general-promotion-2-1501592391">Je candidate</a>
            <div><a href="{{site.url}}/reglement.html">Qui peut participer ?</a></div>
        </div>
    </section>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
